<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="content">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
<div app-servers></div>
<hr>
<div class="warning-alert"></div>
<div class="success-alert"></div>
</div>
<hr>
<app-user></app-user>
<hr>
<app-display-details></app-display-details>
<hr>
<game-control (gameStarted)="onGameStarted($event)"></game-control>
<div class="row">
  <div class="col-md-12">
    <odd-count *ngFor="let oddNumber of oddNumbers" [counter]="oddNumber"></odd-count>
    <even-count *ngFor="let evenNumber of evenNumbers" [counter]="evenNumber"></even-count>
  </div>
</div>

</div>
